.head_img img:hover{
    transform: rotate(-360deg);
    transition: all 1s;
    object-fit: cover;
}
.head_img img{
    border-radius: 50%;
    width: 3cm;
    height: 3cm;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    box-shadow: 10px 10px 50px #888888;
}
.main_location{
    position: absolute;
    top: 20%;
    text-align: center;
}
.text{
    margin-top: -25px;
    font-size: xx-large;
    color: rgba(0,0,0,0.6);
}
.card{
    margin: 0 auto;
    background: rgba(192,192,192,0.4);
    border-radius: 10px;
    width: 10cm;
    height: 10.5cm;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.6);
}
.docker{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 80% 80%;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}
body{
    margin: 0 auto;
}
.foot{
    line-height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.5));
    color: #fff;
}